body {
    background-color: #ACDDDE;
}

  .image-container {
    overflow: hidden;
  }

  .image-container img {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    box-sizing: border-box;
  }

#center {
text-align: center;
}