body {
    background-color: #ACDDDE;
}

  .image-container {
    overflow: hidden;
  }

  .image-container img {
    display flex;
    align items: center;
    width: 50%;
    box-sizing: border-box;
  }