body {
    background-color: #ACDDDE;
}

.container {
  display: flex;
}

.content {
  flex: 2;
  padding: 20px;
  margin: 30px;
  font-size: 28px;
}

  .image-container {
    flex: 3;
    overflow: hidden;
  }

  .image-container img {

    width: 60%;
    box-sizing: border-box;
  }

  img {
    object-fit: cover;
  }

h1 {
  font-size: 60px;
}