
body {
    background-color: #ACDDDE;
}


h1 {
    font-size: 80px;
    font-weight: bold;
    align text: center;
}

h2{
    font-size: 30px;
    font-weight: bold;
}

button {
    background-color: pink;
    color: white;
    width: 200px;
    height: 200px;
}









