body {
  background-color: #ACDDDE;
}

.container {
display: flex;
}

.content {
flex: 1;
padding: 20px;
margin: 30px;
}

.image-container {
  flex: 2;
  overflow: hidden;
}

.image-container img {

  width: 60%;
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

p {
  font-size: 30px;
}

h1 {
  font-size: 60px;
}